<!DOCTYPE html>
<html>
  <head>
    <title>Basic-board</title>
  </head>
  <body>
    <h1>삭제하기</h1>
    <form name="board" method="DELETE" action="/board/post/delete/<%=post._id%>">
      <input name="password" value="<%=post.password%>" />
      <button type="submit">완료</button>
    </form>
  </body>
</html>